.changeDetailsContainer {
  width: 100%;
  margin-top: 5em;
  text-align: center;
  position: relative;
}

.travelInfoExitButton {
  position: absolute;
  top: -4em;
  right: 0;
  cursor: pointer;
  width: 2.5em;
}
