@font-face {
  font-family: SourceSansSemiBold;
  src: url('../../../fonts/SourceSansPro-SemiBold.otf');
}

@font-face {
  font-family: ThomasHeadlineBold;
  src: url('../../../fonts/ThomasHeadline-Bold.otf');
}

.changeDetailsLink {
  color: #008ab7;
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
}

.feed-end-message {
  width: 100%;
  height: 40px;
  margin: 0px 5px;
  position: relative;
  font-family: ThomasHeadlineBold;
  font-size: 1.4em;
  text-align: center;
  padding-right: 10px;
}

.feed-end-message-container {
  text-align: center;
  background-color: #8eb8c4;
  padding-top: 5em;
  padding-bottom: 3em;
  color: #ffffff;
  margin-bottom: 2em;
}

.feedEndDownArrow {
  width: 1.7em;
  margin-top: 1em;
}

.grid {
  margin: 0 auto;
  margin-bottom: 2em;
}

.gridItem {
  margin: 10px 5px;
  width: 375px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  transform: scale(1, 1);
  transition: all 0.3s ease-in-out;
}

.gridItem::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}

.gridItem:hover {
  transform: scale(1.025, 1.025);
  transition: all 0.3s ease-in-out;
}

.gridItem:hover::after {
  opacity: 1;
}

.tileSizer {
  width: 375px;
}

.removeTileButton {
  width: 1.5em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  background-color: #ffffff;
  opacity: 0.6;
  border-radius: 600px;
  padding: 0.2em;
  z-index: 10;
  cursor: pointer;
}

.load-effect div.animate {
  -webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

.noHotelsErrorMessage {
  font-size: 0.8em;
  margin-top: 1em;
  width: 95%;
  color: #a94442;
  border: 1px solid #a94442;
  text-align: center;
  background-color: #f2dede;
  margin: 0 auto;
  padding: 1em;
}

@media (min-width: 750px) {
  .feedEndDownArrow {
    display: none;
  }
}

@media (max-width: 380px) {
 .gridItem {
   margin-bottom: 14px;
   width: 350px;
 }
 .gridItem:hover {
   transform: none;
   transition: none;
 }
 .gridItem:hover::after {
   opacity: 1;
 }
}

@media (max-width: 325px) {
 .gridItem {
   margin-bottom: 14px;
   width: 305px;
 }
}
