.grid {
  margin: 0 auto;
}

.gridItem {
  margin: 10px 5px;
  width: 375px;
  position: relative;
}
.tileSizer {
  width: 375px;
}

.removeTileButton {
  width: 1.5em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  background-color: #ffffff;
  opacity: 0.65;
  border-radius: 600px;
  padding: 0.2em;
  z-index: 10;
}

.load-effect div.animate {
  -webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

@media (max-width: 380px) {
 .gridItem {
   margin-bottom: 14px;
   width: 360px;
 }
}

@media (max-width: 325px) {
 .gridItem {
   margin-bottom: 14px;
   width: 305px;
 }
}
