
.slick-slider {
    margin-bottom: 0;
}

.slick-slider .sliderImage {
    width: auto;
    max-height: 400px;
    min-height: 250px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-top: 3.6em;
}

.slick-slider .sliderImage img {
    visibility: hidden;
    max-width: 100%;
    width: 100%;
}

.slick-slider .slick-prev {
    left: 25px;
}

.slick-slider .slick-next {
    right: 25px;
}


@font-face {
    font-family: SourceSansSemiBold;
    src: url('../../../fonts/SourceSansPro-SemiBold.otf');
}

@font-face {
    font-family: ThomasHeadlineBold;
    src: url('../../../fonts/ThomasHeadline-Bold.otf');
}

.articleContentContainer {
    background-color: #ffffff;
    position: relative;
    padding-top: 2em;
}

@media (min-width: 750px) {
    .articleContentContainer {
        width: 750px;
        position: absolute;
        top: 21em;
        left: 50%;
        margin-left: -375px;
        padding: 2em;
    }
}

.articleHeaderImage {
    height: 400px;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.articleHeader {
    font-family: ThomasHeadlineBold;
    font-size: 3.2rem;
    margin-bottom: 1em;
    text-align: center;
}

.articleIntroText {
    font-family: SourceSansSemiBold;
    font-size: 1.7rem;
    padding: 1em;
    text-align: left;
    color: #595959;
}

.articleSection {
    margin: auto;
    margin-bottom: 2.5em;
    max-width: 700px;
}

@media (max-width: 750px) {
    .destImagesContainer,
    .hotelPackageImage {
        display: none;
    }
}
@media (min-width: 750px) {
    .destSlider {
        display: none;
    }
}
.destImagesContainer {
    width: 100%;
    padding: 0 1em;
    margin-bottom: 4em;
    text-align: center;
}

.destImagesContainer img {
    max-width: 100%;
    margin-bottom: 10px;
}
